/* @font-face {
    font-family: "heading";
    src: url(Shrikhand-Regular.ttf);
} */

/* #heading { 
    font-family: "heading";
    font-size: 180px;
} */

.heading-box{
    position: absolute;
    background-color: black;
    Width: 1300px;
    height: 575px;
    flex-shrink: 0;
}

.main-text{
    position: relative;
    left: 50px;
    color: #FFF;
    text-align: center;
    font-family: "Lexend Deca";
    font-size: 185px;
    font-style: normal;
    font-weight: 900;
    line-height: 90%;
}