@font-face {
    font-family: "umami";
    src: url("font/AtUmamiTRIAL-Black.otf") format("opentype"); 
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #ffe4e1;
  }
  
  .home-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('images/background-home.jpg') no-repeat center center;
    background-size: cover;
    margin: 0;
    padding: 0;
  }

  .background-result{
    width:100%

  }
  
  .builder-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -5%;
    padding: 0;
  }
  
  .sandwich-area {
    position: relative;
    width: 65%;
    height: 65%;
    padding-bottom: 1rem;
    padding-top:0.5rem;
    margin: -2.5rem 0;
  }
  
  .background {
    width: 100%;
    border-radius: 10px;
    margin: 0;
    padding: 0;
  }
  
  #ingredient-stack {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  #ingredient-stack img {
    position: absolute;
    width: 100%;
    z-index: 1;
  }
  
  .ingredient-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:5px;
    max-width: 80%;
    z-index: 1000;
    margin-top:-6.8%;
  }
  
  .ingredient-list button {
    padding: 0.5rem 1rem;
    border-radius: 6.25rem;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }


.ingredient-btn {
    background-color: transparent; 
    color: white;
    border: 0.3125rem solid white; 
    font-family: "umami";
    font-size: 1.28125rem;
    font-weight: 800;
    line-height: normal;
    cursor: pointer; 
    transition: all 0.3s ease; 
    width: auto; 
  }

  .ingredient-btn:hover {
    border-color: #FFD9D9;
    background-color: #FFA8A9;
    transform: scale(1.05);
  }
  
  .top-controls{
    margin:1rem;
    /* display: flex;
    justify-content: ; */
  }

  .sandwich-on-plate {
    position: relative;
    width: 300px;
    height: auto;
  }
  
  #saved-sandwich-stack {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  #saved-sandwich-stack img {
    position: absolute;
    width: 100%;
  }
  
  #final-sandwich {
    position: relative;
    width: 9000%; 
    top: 9rem;
    right: 9rem;
    height: auto; 
    margin: 0 auto; 
  }
  
  #final-sandwich img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5) rotate(-45deg); /* Scale and rotate the sandwich */
    z-index: 1;
  }
  
  .top-right{
    position:fixed;
    right: 1rem;
    top: 1rem;
    z-index: 10000;
  }
  

  @media (max-width: 1200px) {
    .ingredient-btn {
      font-size: 0.9rem; 
      padding: 0.8em 1.6em; 
    }
  }
  
  @media (max-width: 768px) {
    .ingredient-btn {
      font-size: 0.8rem; 
      padding: 0.6em 1.2em; 
    }
  }
  
  @media (max-width: 480px) {
    .ingredient-btn {
      font-size: 0.7rem; 
      padding: 0.5em 1em; 
      width: 100%; 
    }
  }
  



  