html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background: white;
  font-family: sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.controls {
  position: fixed;
  top: 10px;
  left: 10px;
  background: transparent;
  border-radius: 10px;
  z-index: 10;
  /* padding: 5px; */
  transition: transform 0.1s , opacity 0.4s ease;
}

.controls.hidden {
  transform: scaleX(0);
  opacity: 0;
}

label {
  display: inline-block;
  margin-right: 10px;
  font-size: 12px;
  color: red;
}

input {
  border: none;
  border-bottom: 1px solid red;
  background: transparent;
  font-size: 12px;
  color: red;
  padding: 2px 4px;
  outline: none;
  width: 50px;
}

input:focus {
  border-bottom: 2px solid red;
}

input::placeholder {
  color: rgba(255, 0, 0, 0.5);
}

button {
  padding: 4px 8px;
  font-size: 12px;
  cursor: pointer;
  background: transparent;
  color: red;
  border: .1rem solid red;
  border-radius: 3px;
  transition: opacity 0.3s ease;
}

#pauseOverlay,
#topRestartBtn {
  font-size: 12px;
  font-weight: bold;
  background: transparent;
  color: red;
  border: 0.1rem solid red;
  padding: 4px 8px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

#pauseOverlay.resume-mode {
  background-color: red;
  color: white;
}

#pauseOverlay:hover {
  background-color: #e10101; 
  color:  #ff7c7c;
}

#pauseOverlay:active {
  transform: scale(0.97);
}

#pauseOverlay.hidden {
  opacity: 0;
  pointer-events: none;
}

#continueBtn {
  margin-left: -3rem;
}

#topControls button,
#controlPanel button {
  margin-right: 3px;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

#continueBtn:not(.hidden),
#restartBtn:not(.hidden) {
  opacity: 1;
  pointer-events: auto;
}

#controlPanel #resetBtn {
  margin-left: 5px;
}

#topControls {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 11;
  display: flex;
  gap: 5px;
}

#topControls.hidden {
  opacity: 0;
  pointer-events: none;
}

#topControls button {
  font-size: 12px;
  font-weight: normal;
  background: white;
  color: red;
  border: 0.1rem solid red;
  padding: 4px 8px;
  border-radius: 3px;
  cursor: pointer;
  /* transition: 0.3s ease, transform 0.1s ease; */
}

#topControls button:hover {
  background-color: #e10101; 
  color:  #ff7c7c;
}

@media (max-width: 600px) {
  #topControls {
    top: 10px;
    left: 10px;
    flex-direction: column;
    gap: 5px;
  }

  #topControls button {
    font-size: 10px;
    padding: 3px 6px;
  }
}

@media (max-width: 600px) {
  .controls {
    top: auto;
    bottom: 10px;
    left: 10px;
    right: 10px;
    flex-direction: column;
    gap: 5px;
    background: rgba(255, 255, 255, 0.8);
  }

  label {
    font-size: 10px;
  }

  input {
    width: 40px;
    font-size: 10px;
  }

  button {
    font-size: 10px;
    padding: 3px 6px;
  }
}
