/* fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rosario:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantarell:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantarell:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lexend Deca", sans-serif;
}

/* Links */
a {
    text-decoration: none;
    color: inherit;
}

@font-face {
    font-family: "custom1";
    src: url("AbhayaLibre-SemiBold.ttf") format("ttf");
    
}


.fixed-home-button {
    position: fixed; 
    top: 2vh; 
    left: 1.5vw; 
    z-index: 1000; 
    display: inline-block; 
}

.home-image {
    width: 4vw; /* Adjust the size of the image */
    height: auto; /* Maintain aspect ratio */
    
}

.fixed-home-button:hover .home-image {
    transform: scale(1.1); /* Slight zoom on hover */
}

/* Navigation
.navigation-box {
    position: fixed;  Keeps it at the top 
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: white;
    z-index: 1000;
} */

/* .navigation-home, 
.navigation-stories {
    position: relative;
    top:1.8vh;
    left: 0.9vw;
    margin-left: 2rem;
    margin-right: 3.5rem;
    color: #0B0B0B;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
} */

/* General Layout */
.heading-box {
    position: absolute;
    /* top: 50px; */
    background-color: black;
    width: 100vw;
    height: 72vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-text {
    color: #FFF;
    text-align: center;
    font-family: "Lexend Deca";
    font-size: 13vw;
    height: auto;
    width: auto;
    font-weight: 700;
    line-height: 90%;

}

/* Text Layer */
.text-layer {
    position: absolute;
    top: 72.46vh;
    height: auto;
    margin-bottom: 5px; 
    margin-top: 2vh; 
    width: 100%;
    background-color: white;
    text-align: center;
}

.small-text, 
.big-text {
    position: relative;
    color: black;
    word-wrap: break-word;
}


.small-text {
    font-weight: 700;
    font-size: 1.73vh;
    line-height: 1.79vh;
}

.big-text {
    font-weight: 700;
    font-size: 4.93vh;
    line-height: 5.16vh;
}



/* Character Heading */
.character-heading-small {
    color: #FFDB98;
    text-align: center;
    font-family: "Epilogue", sans-serif;
    font-size: 2.56vh;
    font-weight: 700;
    line-height: 93%;
}

/* Royal Specific */
.heading-box-royal {
    position: absolute;
    /* top: 50px; */
    background-color: #7B0D0D;
    width: 100vw;
    height: 72.9vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sub-text-royal {
    color: #5299D4;
    text-align: center;
    font-family: "Epilogue", sans-serif;
    font-size: 4.56vh;
    font-weight: 700;
    line-height: 93%;
}

.main-text-royal {
    color: #FFC9C3;
    text-align: center;
    font-family: "Epilogue", sans-serif;
    font-size: 24.6vh;
    font-weight: 700;
    line-height: 100%;
    margin-top: 1.35vh;
}

.box-royal-text {
    position: absolute;
    top: 72.76vh;
    background-color: #FFDB98;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.royal-text {
    color: #36454F;
    font-family: "Rosario", sans-serif;
    font-size: 4.1vh;
    font-weight: 700;
    line-height: 120%;
    letter-spacing:0.045vw;
    margin-top: 45px;
    padding: 0;
    width: 90%;
    max-width: 800px;
    text-align: center;
    white-space: pre-wrap;
}

/* Etheline Specific */
.heading-box-etheline {
    position: absolute;
    /* top: 50px; */
    background-color: #9CAF88;;
    width: 100vw;
    height: 72.9vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sub-text-etheline {
    color: #62350E;
    text-align: center;
    font-family: "Abhaya+Libre";
    font-size: 4.56vh;
    font-weight: 700;
    line-height: 93%;
}

.main-text-etheline {
    color: #F7F4E9;
    text-align: center;
    font-family: "Abhaya+Libre";
    font-size: 24.6vh;
    font-weight: 500;
    line-height: 93%;
}

.box-etheline-text {
    position: absolute;
    top: 72.76vh;
    background-color: #FF8C82;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.etheline-text {
    color: #FFCDC9;
    font-family: "Questrial";
    font-size: 4.1vh;
    font-weight: 700;
    line-height: 130%;
    letter-spacing:0.035vw;
    margin-top: 45px;
    padding: 0;
    width: 90%;
    max-width: 800px;
    text-align: center;
    white-space: pre-wrap;
}

/* CHas Specific */
.heading-box-chas {
    position: absolute;
    /* top: 50px; */
    background-color: #D72638;
    width: 100vw;
    height: 72.9vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sub-text-chas{
    color: #FFD575;
    text-align: center;
    font-family: "Montserrat Subrayada";
    font-size: 4.56vh;
    font-weight: 700;
    line-height: 93%;
}

.main-text-chas {
    color: #FFFFFF;
    text-align: center;
    font-family:sans-serif;
    font-weight: regular;
    font-size: 24.6vh;
    font-weight: 700;
    line-height: 96%;
}

.box-chas-text {
    position: absolute;
    top: 72.76vh;
    background-color: white;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chas-text {
    color: #003049;
    font-family: "Roboto";
    font-size: 4.1vh;
    font-weight: 1000;
    line-height: 110%;
    letter-spacing: 0.025vw;
    margin-top: 45px;
    padding: 0;
    width: 90%;
    max-width: 800px;
    text-align: center;
    white-space: pre-wrap;
}

/* Margot Specific */
.heading-box-margot {
    position: absolute;
    /* top: 50px; */
    background-color: #5B607E;
    width: 100vw;
    height: 72.9vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sub-text-margot{
    color: #B2BEB5;
    text-align: center;
    font-family: "Figtree";
    font-size: 4.56vh;
    font-weight: 700;
    line-height: 93%;
    letter-spacing: .1vw;
}

.main-text-margot {
    color: #F6CF45;
    text-align: center;
    font-family: "Figtree";
    letter-spacing:0vw;
    font-size: 24.6vh;
    font-weight: 900;
    line-height: 96%;
}

.box-margot-text {
    position: absolute;
    top: 72.76vh;
    background-color: #C19A6B;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.margot-text {
    color: #FFECD6;
    font-family: "Questrial";
    font-size: 4.1vh;
    font-weight: 700;
    line-height: 140%;
    letter-spacing:0.06vw;
    margin-top: 45px;
    padding: 0;
    width: 90%;
    max-width: 800px;
    text-align: center;
    white-space: pre-wrap;
}

/* Richie Specific */
.heading-box-richie {
    position: absolute;
    /* top: 50px; */
    background-color: #1D3E65;
    width: 100vw;
    height: 72.9vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sub-text-richie{
    color: #95B3B0;
    text-align: center;
    font-family: "Castoro Titling";
    font-size: 4.56vh;
    font-weight: 700;
    line-height: 93%;
}

.main-text-richie {
    color: #E6CCB2;
    margin-top: 1vh;
    text-align: center;
    font-family: "Castoro";
    font-size: 24.6vh;
    font-weight: 300;
    line-height: 93%;
    letter-spacing:0.3vw;
    margin-top: 1vh;
}

.box-richie-text {
    position: absolute;
    top: 72.76vh;
    background-color: #FFD670;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.richie-text {
    color: #8B3030;
    font-family: "Crimson pro";
    font-size: 4.1vh;
    font-weight: 700;
    line-height: 110%;
    margin-top: 45px;
    padding: 0;
    width: 90%;
    max-width: 800px;
    text-align: center;
    white-space: pre-wrap;
    letter-spacing:0.035vw;
}

/* Eli Specific */
.heading-box-eli {
    position: absolute;
    /* top: 50px; */
    background-color: #317773;
    width: 100vw;
    height: 72.9vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sub-text-eli{
    color: #EDE9D5;
    text-align: center;
    font-family: "Caprasimo";
    font-size: 4.56vh;
    font-weight: regular;
    line-height: 93%;
}

.main-text-eli {
    color: #F6BD60;
    text-align: center;
    font-family: "Caprasimo";
    font-size: 24.6vh;
    font-weight: 100;
    line-height: 98%;
}

.box-eli-text {
    position: absolute;
    top: 72.76vh;
    background-color: #EDE9D5;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eli-text {
    color: #D35C47;
    font-family: "Archivo Narrow";
    font-size: 4.1vh;
    font-style: italic;
    font-weight: 700;
    line-height: 110%;
    margin-top: 45px;
    padding: 0;
    width: 90%;
    max-width: 800px;
    text-align: center;
    white-space: pre-wrap;
    letter-spacing: 0.02vw;
}

/* Henry Specific */
.heading-box-henry {
    position: absolute;
    /* top: 50px; */
    background-color: #F4C6A7;
    width: 100vw;
    height: 72.9vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sub-text-henry{
    color: #034D73;
    text-align: center;
    font-family: "Calistoga";
    font-size: 4.56vh;
    font-weight: regular;
    line-height: 93%;
}

.main-text-henry {
    color: #4A6B67;
    text-align: center;
    font-family: "Calistoga";
    font-size: 24.6vh;
    font-weight: regular;
    line-height: 96%;
}

.box-henry-text {
    position: absolute;
    top: 72.76vh;
    background-color: #708D9C;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.henry-text {
    color: #F8F1E5;
    font-family: "Asap";
    font-size: 3.1vh;
    font-weight: 300;
    line-height: 125%;
    margin-top: 100px;
    padding: 0;
    width: 90%;
    max-width: 800px;
    text-align: center;
    white-space: pre-wrap;
}

/* raleigh Specific */
.heading-box-raleigh {
    position: absolute;
    /* top: 50px; */
    background-color: #0D1B2A;
    width: 100vw;
    height: 72.9vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sub-text-raleigh{
    color: #D5C8AE;
    text-align: center;
    font-family: "Cormorant Garamond";
    font-size: 4.56vh;
    font-weight: 700;
    line-height: 93%;
}

.main-text-raleigh {
    color: #D6D2E9;
    text-align: center;
    font-family: "Cormorant Garamond";
    font-size: 24.6vh;
    font-weight: 500;
    line-height: 93%;
}

.box-raleigh-text {
    position: absolute;
    top: 72.76vh;
    background-color: #76877D;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.raleigh-text {
    color: #D5C8AE;
    font-family: "Source Sans Pro";
    font-size: 4.1vh;
    font-weight: 500;
    line-height: 120%;
    margin-top: 45px;
    padding: 0;
    width: 90%;
    max-width: 800px;
    text-align: center;
    white-space: pre-wrap;
    letter-spacing: 0.01vw;
}

/* pagod Specific */
.heading-box-pagoda {
    position: absolute;
    /* top: 50px; */
    background-color: #8C2F39;
    width: 100vw;
    height: 72.9vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sub-text-pagoda {
    color: #C18785;
    text-align: center;
    font-family: "Spectral";
    font-size: 4.56vh;
    font-weight: 700;
    line-height: 93%;
}

.main-text-pagoda {
    color: #D9A441;
    text-align: center;
    font-family: "Spectral";
    margin-top: 2vh;
    font-size: 24.6vh;
    font-weight: 700;
    line-height: 93%;
}

.box-pagoda-text {
    position: absolute;
    top: 72.76vh;
    background-color: #397980;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pagoda-text {
    color: #C18785;
    font-family: "Rubik";
    font-size: 4.1vh;
    font-weight: 700;
    line-height: 110%;
    margin-top: 45px;
    padding: 0;
    width: 90%;
    max-width: 500px;
    text-align: center;
    white-space: pre-wrap;
}

/* dusty Specific */
.heading-box-dusty {
    position: absolute;
    /* top: 50px; */
    background-color: #59748C;
    width: 100vw;
    height: 72.9vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sub-text-dusty {
    color: #BEC2C3;
    text-align: center;
    font-family: "Belanosima";
    font-size: 4.56vh;
    font-weight: 500;
    line-height: 93%;
}

.main-text-dusty {
    color: #CDA75D;
    text-align: center;
    font-family: "Belanosima";
    margin-top: 2vh;
    font-size: 24.6vh;
    font-weight: 600;
    line-height: 93%;
}

.box-dusty-text {
    position: absolute;
    top: 72.76vh;
    background-color: #D6C3A5;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dusty-text {
    color: #A35638;
    font-family: "Comfortaa";
    font-size: 4.1vh;
    font-weight: 700;
    line-height: 110%;
    margin-top: 45px;
    padding: 0;
    width: 90%;
    max-width: 800px;
    text-align: center;
    white-space: pre-wrap;
}

/* narrator Specific */
.heading-box-narrator {
    position: absolute;
    /* top: 50px; */
    background-color: #485A28;
    width: 100vw;
    height: 72.9vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sub-text-narrator {
    color: #FF6DA3;
    text-align: center;
    font-family: "roboto";
    font-size: 4.56vh;
    font-weight: 700;
    line-height: 93%;
}

.main-text-narrator {
    color: #FFCA6D;
    text-align: center;
    font-family: "Playfair Display";

    font-size: 24.6vh;
    font-weight: 900;
    line-height: 93%;
    letter-spacing: .5vw;
}

.box-narrator-text {
    position: absolute;
    top: 72.76vh;
    background-color: #FF6DA3;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.narrator-text {
    color: #FFCEDF;
    font-family: "roboto";
    font-size: 4.1vh;
    font-weight: 500;
    line-height: 120%;
    margin-top: 45px;
    padding: 0;
    width: 90%;
    letter-spacing: 0.02vw;
    max-width: 800px;
    text-align: center;
    white-space: pre-wrap;
}

/* ari-uzi Specific */
.heading-box-ari-uzi {
    /* position: absolute; */
    /* top: 50px; */
    background-color: #D72638;
    width: 100vw;
    height: 72vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

.sub-text-ari-uzi {
    color: #9CD5FF;
    text-align: center;
    font-size: 4.56vh;
    font-weight: 600;
    line-height: 93%; 
}

.main-text-ari-uzi {
    color: #F7F4E9;
    text-align: center;
    font-family: "Bakbak One";
    font-size: 24.6vh;
    font-weight: 500;
    line-height: 93%;
    margin-top: 1vh; 
}

.ari-uzi-main-text-span{
    margin:9.5vw; 
}

.ari-sub-text-span {
    margin: 10vw; 
    color: #FFD575;
    font-family: "poppins"
}

.uzi-sub-text-span {
    margin: 11.5vw; 
    color: #FFD575;
    font-family: "Karla", sans-serif;
}

.container {
    margin-top: 6vh; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    max-width: 100vw;
}

.box-ari-text, .box-uzi-text {
    background-color: white;
    flex: 1; 
    max-width: 130%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left:155px; 
    max-width: 100%;
    height: auto;
}

.ari-text, .uzi-text {
    color: #013651;
    font-size: 4.1vh;
    font-weight: 500;
    text-align: center;
    white-space: pre-wrap;
    width: 90%;
    /* margin-top: 52vh; */
   
}

.ari-text{
    font-family: "Karla", sans-serif;
    line-height: 110%;
}
.uzi-text{
    font-family: "Poppins";
    line-height: 130%;

}

.back-button-ari-box {
    position: absolute;
    background-color: white;
    height: 35vh;
    width: 50%;
    display: flex; /* Enables Flexbox */
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    top: 403%; /* Center vertically relative to the viewport */
    left: 50%; /* Center horizontally relative to the viewport */
    transform: translate(-50%, -50%); /* Offset the box by half its size to center */
}

.back-button-ari-text {
    color: #013651;
    position:relative;
    bottom: -4.7vh;
    height: 10%;
    width: 100%;
    text-align: center;
    display: flex; /* Ensures content inside is flex-aligned */
    justify-content: center; /* Centers text horizontally */
    align-items: center; /* Centers text vertically */
    font-family: "Bakbak", sans-serif;
    font-size: 4.1vh;
    font-weight: 500;
    line-height: 93%;
}

/* other Specific */
.heading-box-other{
    position: absolute;
    background-color: #915C83;
    width: 100vw;
    height: 80.9vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-text-other {
    position: relative;
    color: #E8F765;
    text-align: center;
    font-family: "custom1", sans-serif;
    font-size: 24.6vh;
    font-weight: 700;
    line-height: 93%;
}

.sub-text-other {
    position: relative;
    margin-top: -9vh;
    color: #E8F765;
    text-align: center;
    font-family: "Epilogue", sans-serif;
    font-size: 4.56vh;
    font-weight: 700;
    line-height: 93%;
}

.box-other-text {
    position: absolute;
    top: 72.76vh;
    background-color: #79E8D9;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.other-text-name {
    color: #915C83;
    font-family: "Custom1", sans-serif;
    font-size: 6.1vh;
    font-weight: 900;
    line-height: 110%;
    padding: 0;
    width: 90%;
    max-width: 800px;
    text-align: center;
    white-space: pre-wrap;
}

.other-text-lines{
    color: #E26D45;
    font-family: "Custom1", sans-serif;
    font-size: 4.1vh;
    font-weight: 500;
    line-height: 110%;
    margin-top: 45px;
    padding: 0;
    width: 90%;
    max-width: 800px;
    text-align: center;
    white-space: pre-wrap;
}


.image{
    height: 10%;
    width: 10%;
    height: auto; 
    display: block; /* Ensures it doesn't have extra space */
    margin: 0 auto; /* Centers the image */

}



/* .big-text:hover {
    color: white;

  } 

.small-text:hover {
    color: white;

  }  */




  /* Container for the hoverable text */
.hover-container {
    position: relative; /* Important for positioning the tooltip */
    display: inline-block;
    cursor: pointer;
    color: black; /* Original text color */
    transition: color 0.3s;
}

.hover-container:hover {
    color: black; /* Ensure the letter R remains visible on hover */
}

.hover-letter {
    color: white; /* Ensures the letter is always visible */
}

/* Hidden text */
.hover-info, .hover-info2, .hover-info3, .hover-info4 {
    visibility: hidden;
    opacity: 0;
    background-color: black;
    color: white;
    text-align: center;
    /* border-radius: 0.5rem; */
    padding: .7rem 1.5rem;
    width: 25vw;
    position: absolute;
    transform: translateX(-50%);
    transition: opacity 1.5s;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: normal;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 300;

}

.hover-info5{
    visibility: hidden;
    opacity: 0;
    background-color: black; 
    color: white; 
    text-align: center;
    /* border-radius: 0.5rem; */
    padding: .7rem 1.5rem;
    width: 10vw;
    min-width: 10vw; /* Prevents overly wide boxes */
    max-height: 6.3vh;
    position: absolute;
    transform: translateX(-50%);
    transition: opacity 1s, visibility 3s ease;
    z-index: 1;
    display: block;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 300;
    white-space: normal;
    bottom: auto;
    top: 100%;
    left: 50%;
}

.hover-info {
    bottom: auto;
    top: 100%;
    left: 52%;
}

.hover-info2 {
    top: auto;
    bottom: 100%;
    left: 65%;
    transform: translateX(-50%) translateY(-0.5rem);
}

/* for henry hover text box*/
.hover-info3{
    top: auto;
    bottom: 100%;
    left: -2%;
    transform: translateX(-50%) translateY(-0.5rem);

}

/* for pagoda hover text box */
.hover-info4{
    top: auto;
    bottom: 100%;
    left: -13.3%;
    transform: translateX(-50%) translateY(-0.5rem);

}



.hover-container:hover .hover-info {
    visibility: visible;
    opacity: 1;
}

.hover-container:hover .hover-info2 {
    visibility: visible;
    opacity: 1;
}


.hover-container:hover .hover-info3 {
    visibility: visible;
    opacity: 1;
}


.hover-container:hover .hover-info4 {
    visibility: visible;
    opacity: 1;
}

.hover-container:hover .hover-info5{
    visibility: visible;
    opacity: 1;
}




.hover-container:hover .small-text {
    color: white;
    visibility: visible;
    opacity: 1;
    text-shadow: 2px 2px 4px #000000;
}

.hover-container:hover .big-text {
    color: white;
    visibility: visible;
    opacity: 1;
    text-shadow: 2px 2px 4px #000000;
}

.first-page {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-direction: column;
    display: flex;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: transparent;
    color: black;
    font-family: "custom1", sans-serif;
    text-align: center;
}

.button {
    background-color: transparent;
    /* position:relative; */
    top: -22vh;
    display: flex;
    justify-content: center;
    padding: 2rem;
    /* align-items: center; */
    font-size: 1.1rem;
    color: black;
    text-decoration: none;
    gap:2rem;
    /* font-family: "custom1", sans-serif; */
    transition: background-color 0.3s;
  }
  
  .yes {
    padding: 2%;
    background-color: white;
  }
  .yes:hover {
    color: black;
  }
  .no {
    padding:2%;
    background-color: white;
  }
  .no:hover {
    color: black;
  }

  